:root {
    --my-color: rgba(173, 127, 0, 0.7);
}
body {
    background-image: url(/img/back.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}
h2 {
    font-size: 25px;
}
#main-block {
    position: absolute;
    top: 40px;
    left: 180px;
    background-color: rgba(23, 21, 21, 0.7);
    padding: 20px 20px 40px 20px;
    margin-bottom: 40px;
}
#main-h {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 40px;
    left: 520px;
    background-color: rgb(229, 229, 229);
    padding: 40px 40px 80px 40px;
}
#jun {
    text-align: center;
    font: bold 17px Arial;
    background-color: var(--my-color);
    position: relative;
    top: -40px;
    margin: 0px 30px;
    padding: 20px 0px;
}
.color-firm {
    color: var(--my-color);
}
.side-block {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}
a {
    color: rgb(215, 249, 251);
    text-decoration: none;
}
#second-h {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 460px;
    left: 520px;
    background-color: rgb(255, 255, 255);
    padding: 40px 40px 80px 40px;
    border-top: 5px;
    border-color: antiquewhite;
}